<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>

   <package name="com.sharding.demo.bean"/>
    </typeAliases>
    <mappers>
<!--        <mapper resource="classpath:../mapper/OrderItemMapper.xml"/>
        <mapper resource="classpath:../mapper/OrderMapper.xml"/>
   -->
    <mapper resource="/Users/zhuting/Downloads/shirdingjdbc-spring-master/sharding-spring-mybatis-demo/src/main/resources/mapper/OrderItemMapper.xml"/>
    <mapper resource="/Users/zhuting/Downloads/shirdingjdbc-spring-master/sharding-spring-mybatis-demo/src/main/resources/mapper/OrderMapper.xml"/>
    </mappers>
</configuration>