<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.demo.dao.OrderItemRepository">
    <resultMap id="baseResultMap" type="com.sharding.demo.bean.OrderItem">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="orderItemId" property="orderItemId" jdbcType="INTEGER"/>
        <result column="order_id" property="orderId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAll" resultMap="baseResultMap">
               SELECT
        i.user_id  ,o.user_id
        FROM
        t_order o, t_order_item i
        WHERE
        o.order_id = i.order_id
        order by i.user_id

    </select>
</mapper>
